body{
    background-color: #1a5d80;
}
.D{
    background-color: #b02b2b;
    color: white;
    border-radius: 15px;
}

.R{
    background-color: #1a5d80;
    color: white;
    border-radius: 15px;
}

.E{
    background-color: #b9871f;
    color: white;
    border-radius: 15px;
}

.P{
    background-color: #238223;
    color: white;
    border-radius: 15px;
}
